---
layout: base_with_hero.html.njk
---

<h1 class="card-header">
  My Home Assistant
</h1>
<div class="card-content">
  <p>
    You've arrived at the portal to your Home Assistant instance. It allows the
    documentation to link to your instance. For a list of current supported
    links, see the
    <a href="faq.html#supported-links">FAQ</a>.
  </p>
  <p>
    It works by entering the URL of your Home Assistant instance. By default
    this is <code>http://homeassistant.local:8123</code>. You do not have to
    provide us access to your instance and this information will only be stored
    in your browser.
  </p>
</div>

<my-configure-instance></my-configure-instance>

<script type="module" src="/{{ manifest['my-configure-instance.js'] }}"></script>
