---
layout: base_with_hero.html.njk
---

<style>
  .current-instance {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-height: 36px;
  }
  .current-instance a {
    word-break: break-all;
  }
  .note {
    display: flex;
  }
  .note b {
    margin-right: 8px;
  }
</style>

<h1 class="card-header">
  My Home Assistant
</h1>
<div class="card-content">
  <p>
    You've arrived at the portal to your Home Assistant instance. It allows the
    documentation and community help you get to specific pages in your Home
    Assistant instance. See the FAQ for a list of
    <a href="faq.html#supported-pages">supported pages</a>.
  </p>
</div>

<my-index>
  <div class="card-content current-instance">
    Configured Home Assistant url:<br />
    …
  </div>
</my-index>

<script type="module" src="/{{ manifest['my-index.js'] }}"></script>
