---
layout: base
javascript_source: my-redirect.js
pagination:
  data: redirects
  size: 1
  alias: redirect
permalink: "redirect/{{ redirect.redirect }}/"
---

<style>
  .ha-card {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    border-top: 8px solid #03a9f4;
  }
  .card-content {
    flex: 1;
  }
  .card-actions {
    padding: 0 8px;
    height: 37px;
  }
  .card-actions a {
    text-decoration: none;
  }
  .fake-button {
    padding: 0 8px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.38);
    letter-spacing: 0.0892857em;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .instance-footer {
    font-size: 14px;
    padding: 16px 16px 0;
    line-break: anywhere;
  }
  .instance-footer a {
    text-decoration: none;
  }
  .instance-footer svg {
    width: 16px;
    height: 16px;
    position: relative;
    bottom: -3px;
  }
  .highlight {
    display: none;
  }
</style>

<div class="ha-card">
  {% if redirect.redirect == "oauth" %}
  <h1 class="card-header">Link account to Home Assistant?</h1>
  <div class="card-content">
    Linking your account will grant your Home Assistant instance access to your
    account. All credentials are stored locally.
  </div>
  {% else %}
  <h1 class="card-header">Open page in your Home Assistant?</h1>
  <div class="card-content">
    You've been linked to the page that will {{ redirect.description }}.
  </div>
  {% endif %}

  <div class="highlight">
    It looks like you came back to this page after you clicked the link. If the
    link didn't work, make sure your instance URL below is correct and check
    <a href="/faq#404">our troubleshooting steps</a>.
  </div>

  {% if redirect.redirect == "oauth" %}
  <div class="card-actions">
    <div class="fake-button decline-link">DECLINE</div>
    <div class="fake-button open-link">LINK ACCOUNT</div>
  </div>
  {% else %}
  <div class="card-actions">
    <div></div>
    <div class="fake-button open-link">OPEN LINK</div>
  </div>
  {% endif %}
</div>

<div class="instance-footer"></div>

<script>
  window.redirect = {{ redirect | stringify }};
</script>
