<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Home Assistant</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Home Assistant">
    <meta property="og:site_name" content="My Home Assistant">
    <meta property="og:url" content="https://my.home-assistant.io/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The portal to your home.">
    <meta property="og:image" content="https://my.home-assistant.io/images/favicon.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="My Home Assistant">
    <meta name="twitter:description" content="The portal to your home.">
    <meta name="twitter:image" content="https://my.home-assistant.io/images/favicon.png">
    <style>
      html {
        font-size: 14px;
        height: 100vh;
      }
      body {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #e5e5e5;
        --mdc-theme-primary: #03a9f4;
        --mdc-theme-secondary: #03a9f4;
      }
    </style>
  </head>
  <body>
    <my-layout>
      <style>
        a {
          color: var(--mdc-theme-primary);
        }
      </style>
        <img class="hero" src="/images/header.jpg" />
        <h1 class="card-header">
          OK, we will not redirect you.
        </h1>
      <div class="card-content">
        <p><a href="/">&laquo; Back to My Home Assistant</a></p>
      </div>

      <div class="card-content">
        <p>
          If this page came up unexpected, please let us know
        </p>
      </div>
    </my-layout>
    <script type="module" crossorigin="use-credentials">
      import "/{{ entrypoint }}";
    </script>
  </body>
</html>