<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Home Assistant</title>
    <style>
      html {
        font-size: 14px;
        height: 100vh;
      }
      body {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #e5e5e5;
        --mdc-theme-primary: #03a9f4;
        --mdc-theme-secondary: #03a9f4;
      }
    </style>
  </head>
  <body>
    <my-redirect></my-redirect>

    <script type="module" crossorigin="use-credentials">
      import "/{{ entrypoint }}";
    </script>
  </body>
</html>
