---
layout: base
---

<style>
  .hero {
    padding-top: 18.56%;
    position: relative;
  }
  .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-right-radius: var(--ha-card-border-radius, 4px);
    border-top-left-radius: var(--ha-card-border-radius, 4px);
  }
  .hero + style + .card-content {
    padding-top: 16px;
  }
</style>

<div class="ha-card">
  <div class="hero">
    <img src="/images/header.png" alt="My Home Assistant logo." />
  </div>

  {{ content | safe }}
</div>
