---
layout: base
---

<style>
  .hero {
    height: 25vh;
    border-top-right-radius: var(--ha-card-border-radius);
    border-top-left-radius: var(--ha-card-border-radius);
    overflow: hidden;
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div class="ha-card">
  <div class="hero">
    <img
      srcset="
        /images/header-360.jpg   360w,
        /images/header-720.jpg   720w,
        /images/header-500.jpg   500w,
        /images/header-1000.jpg 1000w
      "
      src="/images/header-500.jpg"
      alt="Decorative header"
    />
  </div>

  {{ content }}
</div>
