---
layout: base.html.njk
---

<style>
.hero {
  display: block;
  width: 100%;
  border-top-right-radius: var(--ha-card-border-radius, 4px);
  border-top-left-radius: var(--ha-card-border-radius, 4px);
}
</style>

<img class="hero" src="/images/header.jpg" />

{{ content | safe }}
